<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The relative URL page</title>
  </head>
  <body>
    <h1>Welcome to Relative URL</h1>
    <!-- from the basic_app.urls.py file we have global app_name = basic_app and the name of the other page we have mentioned as other_page -->
    <a href="{% url 'basic_app:other_page' %}">The Other Page</a>
    <a href="{% url 'admin:index' %}">The Admin Page</a>
    <a href="{% url 'index' %}">The Index Page</a>
  </body>
</html>
